  <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #000000;
            color: #ffffff;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #000000;
            padding: 20px 0;
            text-align: center;
            color: goldenrod;
        }

        main {
            padding-left: 10px;
            padding-right: 10px;
        }

        h1 {
            font-size: 36px;
            margin: 0;
        }

        h2 {
            font-size: 24px;
            margin-top: 20px;
            color: goldenrod;
            text-align: center;
        }

        p {
            color: #be00ff;
            text-align: center;
        }

        section {
            text-align: center;
            margin: 30px auto;
            padding: 20px;
            border: 2px solid #be00ff;
            border-radius: 10px;
            max-width: 800px;
            background-color: #39004c;
        }

        a {
            color: goldenrod;
            text-align: center;
            justify-content: center;
            text-decoration: none;
            display: inline-block;
            margin-top: 10px;
            padding: 1px 25px;
            background-color: #000000;
            border-style: solid;
            border-color: #be00ff;
            border-radius: 50px;
        }

        a:hover {
            color: #000000;
            background-color: goldenrod;
            border-color: #be00ff;
        }

        footer {
            background-color: #39004c;
            padding: 15px;
            text-align: center;
            color: #ffffff;
            margin-top: 50px;
        }
    </style>
